/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

/* CSS Resets */

* {
    margin: 0;
    padding: 0;
}

/* General selectors  */
body{
    background: #f9f9f9;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1f1f1f;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: 600;
}

button {
    background-color: #2166d8;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
/* Header Layout  */

header{
    height: 60px;
    background: #201134;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

header ul, header ul li, header div {
    display: inline-block;
}

header h1{
    font-size: 18px;
}

header ul{
    padding: 10px;
}
header ul li{
    padding: 5px;
}

.nav-tabs {
    width: 400px;
}

.nav-tabs li {
    opacity: 0.9;
    cursor: pointer;
}

.nav-tabs li:hover {
    opacity: 1;
}

.nav-tabs .active { 
    font-weight: 800;
    border-bottom: 1px solid #fff;
    padding: 21px;
    opacity: 1;
}

.courseTitle {
    display: inline-flex;
}

.logo {
    display: inline;
    padding: 8px 20px;
}

/* Main content layout */
.wrapper {
    padding-top: 60px;
}

/* Sidebar styles  */
#sidebar { 
    width: 310px;
    height: calc(100vh - 60px);
    border-right: 1px solid #D9DDE1;
    padding: 15px;
    position: fixed;
    overflow: scroll;
    z-index: 100;
}

#sidebar ul {
    margin-top: 10px;
}

#sidebar h3 { 
    font-size: 21px;
}

#sidebar h4 {
    padding-top: 10px;
}

#sidebar ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 -15px;
    cursor: pointer;
}

#sidebar li:hover {
    background: #EAEAEA;
}

#sidebar li.active { 
    background: #EAEAEA;
    border-right: 3px solid #2166d8;
}

#sidebar li .icon { 
    padding: 15px;
}

#sidebar li h2 {
    font-size: 14px;
}

#sidebar .questionTitle span{
    color: #626262;
}

#sidebar span {
    display: block;
}

.content { 
    width: calc(100% - 340px);
    padding-left: 340px;
}


@media only screen and (max-width: 860px) {
    #sidebar{
        width: 200px;
    }
    .content{
        width: calc(100% - 230px);
        padding-left: 230px;
    }
}

/* Styling the questions container */
#questionContainer{
    padding: 15px;
}

#questionContainer .question {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    max-width: 680px;
    min-width: 400px;
    background: #ffffff;
    box-shadow: 0px 2px 15px 0px rgba(98, 97, 99, 0.2);
}

#questionContainer h1{
    font-size: 21px;
    padding-bottom: 5px;
}

#questionContainer p {
    font-size: 16px;
}

.questionHeader {
    border-bottom:  1px solid #D9DDE1;
    padding: 20px;
    margin: -20px -20px 20px -20px;
}

.questionPrompt p {
    margin-bottom: 15px;
}

.questionForm .selected {
    border: 1px solid #2166d8;
    background: #eaf2ff;
}

.container 

.questionFooter {
    border-top: 1px solid #D9DDE1;
    padding: 15px 20px;
    margin: 20px -20px -20px -20px;
}


/* Styling for the radio buttons */
/* The container */
.container {
    display: block;
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #D9DDE1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

/* On mouse-over, add a grey background color */
.container:hover {
    background-color: #EAEAEA;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.container input:checked + label.container {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .container {
    border: 1px solid blue;
}


/* ---- Slides Container ----- */


#slidesContainer, .currentSlide, .currentSlide img {
    max-width: 100%;
    max-height: calc(100% - 55px);
    position: relative;
}

#slidesContainer{
    max-width: 1000px;
    margin:0 auto;
}


.slideControl {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    background: #fff;
    position: absolute;
    bottom: 3px;
    width: calc(100% - 20px);
    opacity: 0;
    transition: .75s ease-in-out 0.5s;
}


#slidesContainer:hover > .slideControl {
    opacity: 1;
    transition: .25s ease-in-out 0s; 
}

.slideNumber {
    display: flex;
    align-items: center;
}

.slideControl button {
    padding: 10px 10px 7px 10px;
    background: #fff;
    border: 1px solid #D9DDE1;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.slideControl button:hover {
    background: #eaeaea;
}

.rightButton {
    margin-left: -4px;
    border-radius: 0 3px 3px 0; 
}

.leftButton {
    border-radius: 3px 0 0 3px ; 
}


///
*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}
